In [404]:
#Importing required libraries
import os #getting access to input files
import pandas as pd # Importing pandas for performing EDA
import numpy as np  # Importing numpy for Linear Algebric operations
import matplotlib.pyplot as plt # Importing for Data Visualization
import seaborn as sns # Importing for Data Visualization
from collections import Counter 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression #ML algorithm
from sklearn.model_selection import train_test_split #splitting dataset
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from pprint import pprint
from sklearn.model_selection import GridSearchCV    

%matplotlib inline

In [360]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [406]:
%cd /content/gdrive/MyDrive/Colab Notebooks/SE 544/cabe_fair_prediction

/content/gdrive/MyDrive/Colab Notebooks/SE 544/cabe_fair_prediction

In [407]:
%ls

test.csv  train_cab.csv

In [408]:
#Loading the data:
train  = pd.read_csv("train_cab.csv",na_values={"pickup_datetime":"43"})
test   = pd.read_csv("test.csv")

In [409]:
train.head() #checking first five rows of the training dataset

  fare_amount          pickup_datetime  ...  dropoff_latitude  passenger_count
0         4.5  2009-06-15 17:26:21 UTC  ...         40.712278              1.0
1        16.9  2010-01-05 16:52:16 UTC  ...         40.782004              1.0
2         5.7  2011-08-18 00:35:00 UTC  ...         40.750562              2.0
3         7.7  2012-04-21 04:30:42 UTC  ...         40.758092              1.0
4         5.3  2010-03-09 07:51:00 UTC  ...         40.783762              1.0

[5 rows x 7 columns]

In [410]:
test.head() #checking first five rows of the test dataset

           pickup_datetime  pickup_longitude  ...  dropoff_latitude  passenger_count
0  2015-01-27 13:08:24 UTC        -73.973320  ...         40.743835                1
1  2015-01-27 13:08:24 UTC        -73.986862  ...         40.739201                1
2  2011-10-08 11:53:44 UTC        -73.982524  ...         40.746139                1
3  2012-12-01 21:12:12 UTC        -73.981160  ...         40.751635                1
4  2012-12-01 21:12:12 UTC        -73.966046  ...         40.744427                1

[5 rows x 6 columns]

In [411]:
print("shape of training data is: ",train.shape) #checking the number of rows and columns in training data
print("shape of test data is: ",test.shape) #checking the number of rows and columns in test data

shape of training data is:  (16067, 7)
shape of test data is:  (9914, 6)

In [412]:
train.dtypes #checking the data-types in training dataset

fare_amount           object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      float64
dtype: object

In [413]:
test.dtypes #checking the data-types in test dataset

pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [414]:
train.describe()

       pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
count      16067.000000     16067.000000  ...      16067.000000     16012.000000
mean         -72.462787        39.914725  ...         39.897906         2.625070
std           10.578384         6.826587  ...          6.187087        60.844122
min          -74.438233       -74.006893  ...        -74.006377         0.000000
25%          -73.992156        40.734927  ...         40.734651         1.000000
50%          -73.981698        40.752603  ...         40.753567         1.000000
75%          -73.966838        40.767381  ...         40.768013         2.000000
max           40.766125       401.083332  ...         41.366138      5345.000000

[8 rows x 5 columns]

In [415]:
test.describe()

       pickup_longitude  pickup_latitude  ...  dropoff_latitude  passenger_count
count       9914.000000      9914.000000  ...       9914.000000      9914.000000
mean         -73.974722        40.751041  ...         40.751743         1.671273
std            0.042774         0.033541  ...          0.035435         1.278747
min          -74.252193        40.573143  ...         40.568973         1.000000
25%          -73.992501        40.736125  ...         40.735254         1.000000
50%          -73.982326        40.753051  ...         40.754065         1.000000
75%          -73.968013        40.767113  ...         40.768757         2.000000
max          -72.986532        41.709555  ...         41.696683         6.000000

[8 rows x 5 columns]

In [416]:
#Convert fare_amount from object to numeric
train["fare_amount"] = pd.to_numeric(train["fare_amount"],errors = "coerce")  #Using errors=’coerce’. It will replace all non-numeric values with NaN.

In [417]:
train.dtypes

fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count      float64
dtype: object

In [418]:
train.shape

(16067, 7)

In [419]:
train.dropna(subset= ["pickup_datetime"])   #dropping NA values in datetime column

       fare_amount          pickup_datetime  ...  dropoff_latitude  passenger_count
0              4.5  2009-06-15 17:26:21 UTC  ...         40.712278              1.0
1             16.9  2010-01-05 16:52:16 UTC  ...         40.782004              1.0
2              5.7  2011-08-18 00:35:00 UTC  ...         40.750562              2.0
3              7.7  2012-04-21 04:30:42 UTC  ...         40.758092              1.0
4              5.3  2010-03-09 07:51:00 UTC  ...         40.783762              1.0
...            ...                      ...  ...               ...              ...
16062          6.5  2014-12-12 07:41:00 UTC  ...         40.719987              1.0
16063         16.1  2009-07-13 07:58:00 UTC  ...         40.715527              2.0
16064          8.5  2009-11-11 11:19:07 UTC  ...         40.765495              1.0
16065          8.1  2010-05-11 23:53:00 UTC  ...         40.779560              1.0
16066          8.5  2011-12-14 06:24:33 UTC  ...         40.761975              NaN

[16066 rows x 7 columns]

In [420]:
# Here pickup_datetime variable is in object so we need to change its data type to datetime
train['pickup_datetime'] =  pd.to_datetime(train['pickup_datetime'], format='%Y-%m-%d %H:%M:%S UTC')

In [421]:
train.dtypes #Re-checking datatypes after conversion

fare_amount                 float64
pickup_datetime      datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count             float64
dtype: object

In [422]:
test["pickup_datetime"] = pd.to_datetime(test["pickup_datetime"],format= "%Y-%m-%d %H:%M:%S UTC")

In [423]:
### we will saperate the Pickup_datetime column into separate field like year, month, day of the week, etc

test['year'] = test['pickup_datetime'].dt.year
test['Month'] = test['pickup_datetime'].dt.month
test['Date'] = test['pickup_datetime'].dt.day
test['Day'] = test['pickup_datetime'].dt.dayofweek
test['Hour'] = test['pickup_datetime'].dt.hour
test['Minute'] = test['pickup_datetime'].dt.minute

In [424]:
test.dtypes #Re-checking test datatypes after conversion

pickup_datetime      datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
year                          int64
Month                         int64
Date                          int64
Day                           int64
Hour                          int64
Minute                        int64
dtype: object

In [426]:
#removing datetime missing values rows
train = train.drop(train[train['pickup_datetime'].isnull()].index, axis=0)
print(train.shape)
print(train['pickup_datetime'].isnull().sum())

(16066, 7)
0

In [314]:
train["passenger_count"].describe()

count    16011.000000
mean         2.625171
std         60.846021
min          0.000000
25%          1.000000
50%          1.000000
75%          2.000000
max       5345.000000
Name: passenger_count, dtype: float64

In [315]:
train = train.drop(train[train["passenger_count"]> 6 ].index, axis=0)

In [316]:
#Also removing the values with passenger count of 0.
train = train.drop(train[train["passenger_count"] == 0 ].index, axis=0)

In [317]:
train["passenger_count"].describe()

count    15934.000000
mean         1.649581
std          1.265943
min          0.120000
25%          1.000000
50%          1.000000
75%          2.000000
max          6.000000
Name: passenger_count, dtype: float64

In [318]:
train["passenger_count"].sort_values(ascending= True)

8862     0.12
0        1.00
9790     1.00
9791     1.00
9792     1.00
         ...
8076      NaN
8139      NaN
8259      NaN
8306      NaN
16066     NaN
Name: passenger_count, Length: 15989, dtype: float64

In [319]:
#removing passanger_count missing values rows
train = train.drop(train[train['passenger_count'].isnull()].index, axis=0)
print(train.shape)
print(train['passenger_count'].isnull().sum())

(15934, 7)
0

In [320]:
##finding decending order of fare to get to know whether the outliers are present or not
train["fare_amount"].sort_values(ascending=False)

1015    54343.0
1072     4343.0
607       453.0
980       434.0
1335      180.0
         ...
1712        NaN
2412        NaN
2458        NaN
8178        NaN
8226        NaN
Name: fare_amount, Length: 15934, dtype: float64

In [321]:
Counter(train["fare_amount"]<0)

Counter({False: 15931, True: 3})

In [322]:
train = train.drop(train[train["passenger_count"] == 0.12 ].index, axis=0)
train.shape

(15933, 7)

In [323]:
train = train.drop(train[train["fare_amount"]<0].index, axis=0)
train.shape

(15930, 7)

In [324]:
##make sure there is no negative values in the fare_amount variable column
train["fare_amount"].min()

0.0

In [325]:
#Also remove the row where fare amount is zero
train = train.drop(train[train["fare_amount"]<1].index, axis=0)
train.shape

(15928, 7)

In [326]:
#Now we can see that there is a huge difference in 1st 2nd and 3rd position in decending order of fare amount
# so we will remove the rows having fare amounting more that 454 as considering them as outliers

train = train.drop(train[train["fare_amount"]> 454 ].index, axis=0)
train.shape

(15926, 7)

In [327]:
# eliminating rows for which value of "fare_amount" is missing
train = train.drop(train[train['fare_amount'].isnull()].index, axis=0)
print(train.shape)
print(train['fare_amount'].isnull().sum())

(15902, 7)
0

In [328]:
train["fare_amount"].describe()

count    15902.000000
mean        11.376356
std         10.814908
min          1.140000
25%          6.000000
50%          8.500000
75%         12.500000
max        453.000000
Name: fare_amount, dtype: float64

In [329]:
#Lattitude----(-90 to 90)
#Longitude----(-180 to 180)

# we need to drop the rows having  pickup lattitute and longitute out the range mentioned above

#train = train.drop(train[train['pickup_latitude']<-90])
train[train['pickup_latitude']<-90]
train[train['pickup_latitude']>90]

      fare_amount     pickup_datetime  ...  dropoff_latitude  passenger_count
5686          3.3 2011-07-30 11:15:00  ...         40.778927              1.0

[1 rows x 7 columns]

In [330]:
#Hence dropping one value of >90
train = train.drop((train[train['pickup_latitude']<-90]).index, axis=0)
train = train.drop((train[train['pickup_latitude']>90]).index, axis=0)

In [331]:
train[train['pickup_longitude']<-180]
train[train['pickup_longitude']>180]

Empty DataFrame
Columns: [fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count]
Index: []

In [332]:
train[train['dropoff_latitude']<-90]
train[train['dropoff_latitude']>90]

Empty DataFrame
Columns: [fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count]
Index: []

In [333]:
train[train['dropoff_longitude']<-180]
train[train['dropoff_longitude']>180]

Empty DataFrame
Columns: [fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count]
Index: []

In [334]:
train.shape

(15901, 7)

In [335]:
train.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [336]:
test.isnull().sum()

pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
year                 0
Month                0
Date                 0
Day                  0
Hour                 0
Minute               0
dtype: int64

In [337]:
#As we know that we have given pickup longitute and latitude values and same for drop. 
#So we need to calculate the distance Using the haversine formula and we will create a new variable called distance
from math import radians, cos, sin, asin, sqrt
def haversine(a):
    lon1=a[0]
    lat1=a[1]
    lon2=a[2]
    lat2=a[3]
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c =  2 * asin(sqrt(a))
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km
# 1min

In [338]:
train['distance'] = train[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].apply(haversine,axis=1)

In [339]:
test['distance'] = test[['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude']].apply(haversine,axis=1)

In [340]:
train.head()

   fare_amount     pickup_datetime  ...  passenger_count  distance
0          4.5 2009-06-15 17:26:21  ...              1.0  1.030764
1         16.9 2010-01-05 16:52:16  ...              1.0  8.450134
2          5.7 2011-08-18 00:35:00  ...              2.0  1.389525
3          7.7 2012-04-21 04:30:42  ...              1.0  2.799270
4          5.3 2010-03-09 07:51:00  ...              1.0  1.999157

[5 rows x 8 columns]

In [341]:
test.head()

      pickup_datetime  pickup_longitude  ...  Minute  distance
0 2015-01-27 13:08:24        -73.973320  ...       8  2.323259
1 2015-01-27 13:08:24        -73.986862  ...       8  2.425353
2 2011-10-08 11:53:44        -73.982524  ...      53  0.618628
3 2012-12-01 21:12:12        -73.981160  ...      12  1.961033
4 2012-12-01 21:12:12        -73.966046  ...      12  5.387301

[5 rows x 13 columns]

In [342]:
train.nunique()

fare_amount            459
pickup_datetime      15856
pickup_longitude     13672
pickup_latitude      14110
dropoff_longitude    13763
dropoff_latitude     14136
passenger_count          7
distance             15448
dtype: int64

In [343]:
test.nunique()

pickup_datetime      1753
pickup_longitude     9124
pickup_latitude      9246
dropoff_longitude    9141
dropoff_latitude     9360
passenger_count         6
year                    7
Month                  12
Date                   31
Day                     7
Hour                   24
Minute                 60
distance             9830
dtype: int64

In [344]:
##finding decending order of fare to get to know whether the outliers are presented or not
train['distance'].sort_values(ascending=False)

9147     8667.542104
8647     8667.497512
2397     8667.454421
472      8667.304968
11653    8666.701504
            ...
13050       0.000000
11593       0.000000
2346        0.000000
8331        0.000000
1637        0.000000
Name: distance, Length: 15901, dtype: float64

In [345]:
Counter(train['distance'] == 0)

Counter({False: 15447, True: 454})

In [346]:
Counter(test['distance'] == 0)

Counter({False: 9829, True: 85})

In [347]:
Counter(train['fare_amount'] == 0)

Counter({False: 15901})

In [348]:
###we will remove the rows whose distance value is zero

train = train.drop(train[train['distance']== 0].index, axis=0)
train.shape

(15447, 8)

In [349]:
#we will remove the rows whose distance values is very high which is more than 129kms
train = train.drop(train[train['distance'] > 130 ].index, axis=0)
train.shape

(15424, 8)

In [350]:
train.head()

   fare_amount     pickup_datetime  ...  passenger_count  distance
0          4.5 2009-06-15 17:26:21  ...              1.0  1.030764
1         16.9 2010-01-05 16:52:16  ...              1.0  8.450134
2          5.7 2011-08-18 00:35:00  ...              2.0  1.389525
3          7.7 2012-04-21 04:30:42  ...              1.0  2.799270
4          5.3 2010-03-09 07:51:00  ...              1.0  1.999157

[5 rows x 8 columns]

In [398]:
drop = ['pickup_datetime', 'pickup_longitude', 'pickup_latitude','dropoff_longitude', 'dropoff_latitude', 'Minute']
train = train.drop(drop, axis = 1)

KeyError: ignored